{% csrf_token %}

<form action="" method="GET">
    <div class="search_form d-flex">
        <div class="input w-25 me-2">
            {% for field in search_form %}
                <p>{{ field }}</p>
                {% for error in field.errors %}
                    <p class="text-danger">{{ error }}</p>
                {% endfor %}
            {% endfor %}
        </div>
    
        <div class="button">
            <input type="submit" class="btn btn-outline-success" value="Поиск">
        </div>
    </div>
</form>